.super_div{
background-color1: white;
position1: relative;
width1: 800px;
height1: 600px;
}



.canvas1
{
	top1: 0px;
	left1: 0px;
	border: black solid 1px;
	width1: 200px;
	height1: 200px;
	position1: absolute;
	background-color: lightgoldenrodyellow;
}

.btn{
	color: black;
}
